
ion-content{
    --background: #fff url('../../assets/cover.jpg') no-repeat center center / cover;
}

.loading{
    text-align: center;
}

.button {
    width: 100%;
}


ion-item, ion-list{
    border-color: transparent !important;
    background-color: transparent !important;
    color: white !important; 
}

.auth{
    margin-top: -7em;
}

.bg-transparent{
    border-color: transparent !important;
    background-color: transparent !important;
    --ion-background-color: transparent !important;
    margin-top: 1em;
}

.bg-transparent p{
    font-size: 14px;
}
.bg-transparent p{
    font-size: 14px;
}